.container{
    border: 1 px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
    
}

.child-uno{
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    margin-right: 22%;
    background: black;

}

.child-dos{
    display: inline-block;
    margin-left: 80%;
    
   
}

